.vs
obj

bin/Release

# NuGets
bin/Debug/net8.0-windows/**/*.dll

# `LC Localization Interface.exe` & `LC Localization Interface.runtimeconfig.json`
bin/Debug/net8.0-windows/LC Localization Interface.*

LC Localization Interface.csproj.user
Properties/PublishProfiles/FolderProfile.pubxml.user